<div class="row extra-pad">
    <div class="nine columns text-justy">LOGIN CONTENT


        <p style="background-color: crimson">{{{ message }}}</p>



        <form action="/login" method="post">
            <label>Email</label>
            <input type="text" name="email" placeholder="Type your email...">
            <label>Password</label>
            <input type="password" name="password" placeholder="Type your password...">
            <br>
            <button type="submit">Login</button>
        </form>

        <a href="/auth/facebook" class="button button-primary">Facebook Login &#x0203A;&#x0203A;</a>
        <a href="/auth/google" class="button button-primary">Google Login &#x0203A;&#x0203A;</a>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

    <div class="three columns light-gray extra-pad-form">ASIDE CONTENT
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere</p>
    </div>
</div>